h1,h2,h3{
    color: rgb(0, 120, 255);
}
.portfolios-div
{
    align-content: 0;
    border: rgb(0, 120, 255);
    border-style: solid;
    border-radius: 2%;
    margin: 5%;
    width: 500px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.portfolios-div:hover
{
    border: rgb(0, 0, 255);
    border-style: solid;
    border-radius: 2%;
    background-color:rgb(0, 120, 255);
}

.portfolios-div:hover .portfolio-property
{
    color: white;
}

.trash-icon{
    float: right;
    padding-top: 10px;
}

.portfolio-property:hover .trash-icon{
    color: lightgray;
}

//tooltips

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: lightgray;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  //Separator

  .separator
  {
      border-style: solid;
      border-color: rgb(0, 120, 255);
      background-color:rgb(0, 120, 255);
      height: 5px;
  }