<div class="flex-row">
    <h1 class="portfolio col-12">Porfolio: {{portfolio.name}}</h1><br>
    <h1 class="portfolio col-12">Total: {{portfolio.total}}</h1><br>
    <h1 class="portfolio col-12">Available: {{portfolio.available}}</h1><br>
    <h1 class="portfolio col-12">Invested: {{portfolio.invested}}</h1><br> 
    <h1 class="col-12">Stocks Owned</h1><br> 
</div>
<div class="row">
    <div class="portfolios-div container" *ngFor="let stockOwned of stocksOwned; index as i;">
        <div class="portfolio col-sm">
            <h3 class="portfolio-property">{{stockOwned.symbol}}</h3><br>
            <h3 class="portfolio-property">Price: ${{stockOwned.price.toFixed(2)}}</h3>
            <h3 class="portfolio-property">Quantity: ${{stocksOwnedQtY[i]}}</h3>
            <h3 class="portfolio-property">Invested: - </h3>
            <div class="sell-container">
                <input type="number" class="sell sell-txt" min="1" max="5" placeholder="QTY" [(ngModel)]="stocksOwnedQtySell[i]">
                <input type="submit" class="sell sell-btn" value="Sell" (click)="sellStock(i)">
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="flex-row">
        <div class="col-12 d-flex justify-content-center">
          <input class="search" type="text" placeholder="Type in a Stock Symbol" aria-label="Search" [(ngModel)]="searchText">
          <input class="btn-search" type="button" value="Search" title="Search" aria-label="Search" (click)="search()" >
        </div>
    <h1 class="col-12">Search Results</h1><br> 
</div>
<div class="separator"></div>

<div class="row">
    <div class="portfolios-div container" *ngFor="let stockS of stocksSearchResult; index as i;">
        <div class="portfolio col-sm">
            <h3 class="portfolio-property">{{stockS.symbol}}</h3><br>
            <h3 class="portfolio-property">Price: ${{stockS.price.toFixed(2)}}</h3>
            <h3 class="portfolio-property">Quantity: -</h3>
            <h3 class="portfolio-property">Invested: -</h3>
            <div class="buy-container">
                <input type="number" class="buy buy-txt" min="1" max="5" placeholder="QTY" [(ngModel)]="stocksSearchResultQtyBuy[i]">
                <input type="submit" class="buy buy-btn" value="Buy" (click)="buyStock(i)"> 
            </div>
        </div>
    </div>
</div>