<!-- <h1>{{portfolioName}}</h1>

<h2>Investments<i class="far fa-plus-square" (click)="addPortfolio()"></i></h2>
<div class="row">
<div *ngFor="let p of ownedStocks" class="portfolios-div container" >
    <div class="portfolio col-sm" (click)="selectPortfolio(p)">
        <h3 class="portfolio-property">{{p.name}}</h3><br>
        <h3 class="portfolio-property">Total: ${{p.total.toFixed(2)}}</h3>
        <h3 class="portfolio-property">Available: ${{p.available.toFixed(2)}}</h3>
        <h3 class="portfolio-property">Invested: ${{p.invested.toFixed(2)}}</h3>
    </div>
</div>
</div> -->